/.idea
/.vscode
.settings
.buildpath
.project
.user.ini
404.html
index.html
.git-old

playbool.yml

*.log
supervisord.pid
supervisord.log
runtime/
test*/
*test/
/.history

public/user.ini

.DS_Store
build.xml
thinkphp/tpl